.menu-background {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: black;
}

.char-card {
    position: relative;
    max-width: 80%;

    img {
        max-width: 100%;
    }
    p {
       color: #fff;
       font-size: 18px;  
       -webkit-margin-before: 0.3em;
       -webkit-margin-after: 0.3em;
       font-family: 'Open Sans', sans-serif; 
    }

    .info {
      position: absolute;
      top: 0;
      right: 0;
      text-align: right;
      margin-right: 2%;
    }
}